nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  transition: all 0.2s ease;
  font-weight: 400;
}

nav a:hover {
  background: #f3f3f3;
  transform: translateY(-1px);
  font-weight: 600;
}

nav a:active {
  transform: translateY(0px);
  background: #e9e9e9;
}
